{% extends "_layout.html"%}

{% block subtitle %}选车{% endblock %}
{%set hiddenFooter=true$}

{% block content %}

<div>
    <div data-am-widget="slider" class="am-slider am-slider-default"
         data-am-slider='{&quot;animation&quot;:&quot;slide&quot;,&quot;slideshow&quot;:false}'>
        <ul class="am-slides">
            <li>
                <img src="http://cn.bing.com/az/hprichv/LondonTrainStation_GettyRR_139321755_ZH-CN742316019.jpg">

                <div class="mx-slider-desc">这是标题标题标题标题标题标题标题001</div>
                <div class="mx-jingji">经济</div>
                <div class="mx-jianjie">
                    <div class="am-g am-g-fixed">
                        <div class="am-u-sm-3"><i class="am-icon-users"></i> * 3</div>
                        <div class="am-u-sm-9">建议乘坐3名乘客(含儿童)</div>
                    </div>

                    <div class="am-g am-g-fixed">
                        <div class="am-u-sm-3"><i class="am-icon-suitcase"></i> * 4</div>
                        <div class="am-u-sm-9">可放置拉杆箱24-26寸3件，手提包和背包不计</div>
                    </div>

                    <div class="am-g am-g-fixed">
                        <div class="am-u-sm-3"><i class="am-icon-car"></i> * 1</div>
                        <div class="am-u-sm-9">一辆</div>
                    </div>

                </div>
                <div class="mx-neirong">
                    <div class="am-g am-g-fixed">
                        <div class="am-u-sm-3"><a class="am-badge am-badge-warning am-radius">中文服务</a></div>
                        <div class="am-u-sm-9">安排专业的中文客服为你解决问题</div>
                    </div>

                    <div class="am-g am-g-fixed">
                        <div class="am-u-sm-3"><a class="am-badge am-badge-primary am-radius">举牌接机</a></div>
                        <div class="am-u-sm-9">司机提前在门口举牌接待</div>
                    </div>

                    <div class="am-g am-g-fixed">
                        <div class="am-u-sm-3"><a class="am-badge am-badge-success am-radius">免费等待</a></div>
                        <div class="am-u-sm-9">如果飞机晚点司机免费在外等待</div>
                    </div>

                </div>


                <div>
                    <div class="am-g am-g-fixed">
                        <div class="am-u-sm-9 mx-u-sm-9"
                             data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 400, height: 180}">用车金额:
                            <i class="am-icon-cny"></i><b> 149</b> <i
                                    class="am-icon-chevron-right mx-icon-chevron-right"></i></div>
                        <div class="am-u-sm-3 mx-u-sm-3">提交订单</div>
                    </div>

                </div>


            </li>
            <li>
                <img src="http://cn.bing.com/az/hprichv/LondonTrainStation_GettyRR_139321755_ZH-CN742316019.jpg">

                <div class="mx-slider-desc">这是标题标题标题标题标题标题标题001</div>
                <div class="mx-jingji">豪华</div>
                <div class="mx-jianjie">
                    <div class="am-g am-g-fixed">
                        <div class="am-u-sm-3"><i class="am-icon-users"></i> * 3</div>
                        <div class="am-u-sm-9">建议乘坐3名乘客(含儿童)</div>
                    </div>

                    <div class="am-g am-g-fixed">
                        <div class="am-u-sm-3"><i class="am-icon-suitcase"></i> * 4</div>
                        <div class="am-u-sm-9">可放置拉杆箱24-26寸3件，手提包和背包不计</div>
                    </div>

                    <div class="am-g am-g-fixed">
                        <div class="am-u-sm-3"><i class="am-icon-car"></i> * 1</div>
                        <div class="am-u-sm-9">一辆</div>
                    </div>

                </div>
                <div class="mx-neirong">
                    <div class="am-g am-g-fixed">
                        <div class="am-u-sm-3"><a class="am-badge am-badge-warning am-radius">中文服务</a></div>
                        <div class="am-u-sm-9">安排专业的中文客服为你解决问题</div>
                    </div>

                    <div class="am-g am-g-fixed">
                        <div class="am-u-sm-3"><a class="am-badge am-badge-primary am-radius">举牌接机</a></div>
                        <div class="am-u-sm-9">司机提前在门口举牌接待</div>
                    </div>

                    <div class="am-g am-g-fixed">
                        <div class="am-u-sm-3"><a class="am-badge am-badge-success am-radius">免费等待</a></div>
                        <div class="am-u-sm-9">如果飞机晚点司机免费在外等待</div>
                    </div>

                </div>

                <div>
                    <div class="am-g am-g-fixed">
                        <div class="am-u-sm-9 mx-u-sm-9"
                             data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 360, height: 180}">用车金额:
                            <i class="am-icon-cny"></i><b> 149</b> <i
                                    class="am-icon-chevron-right mx-icon-chevron-right"></i></div>
                        <div class="am-u-sm-3 mx-u-sm-3">提交订单</div>
                    </div>

                </div>
            </li>

        </ul>
    </div>

</div>

<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
    <div class="am-modal-dialog">
        <div class="am-modal-hd mx-order-modal-hd">用车金额说明
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
        </div>
        <div class="am-modal-bd mx-order-modal-bd">
            <br>
            *您需要在线支付服务定金。<br>
            *如果服务未能提过，阿道夫阿斯蒂芬阿斯顿发生的发生
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}
